<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="task006.Aircraft" id="aircraft">
        <property name="pilot" ref="pilot"></property>
        <property name="navigator" ref="navigator"></property>
    </bean>
    <bean class="task006.Pilot" id="pilot">
    </bean>
    <bean class="task006.Navigator" id="navigator">
    </bean>

    <bean class="task006.Place" id="place">
    </bean>
    <bean class="task006.AircraftCarrier" id="aircraftCarrier">
    </bean>

    <bean class="task006.Submarine" id="submarine">
    </bean>

    <bean class="task006.Aircraft" id="opponentAircraft">
    </bean>

    <bean class="task006.Airport" id="airport">
    </bean>


</beans>